# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencias y builds
node_modules
dist
dist-ssr
dist-electron
release
*.local

# Archivos de entornos locales
.env

# Editor directories and files
.vscode/.debug.env
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Lockfiles
package-lock.json
pnpm-lock.yaml
yarn.lock

# Directorios o archivos de test/reporte
/	test-results/
/	playwright-report/
/	playwright/.cache/
